.festival-intro {
  background: linear-gradient(to bottom, rgb(7, 20, 40, 0), rgb(7 27 40) 50%);
  padding-bottom: 54px;
  position: relative;
}

.intro-container {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  gap: 3rem;
  max-width: 1200px;
  width: 100%;
}

.intro-left {
  background: var(--white);
  border-radius: 8px;
  color: var(--accent-black);
  padding: 72px 48px;
}

.intro-right {
  background: #222A36;
  border-radius: 8px;
  padding: 32px;
}

.intro-right h4 + p {
  color: var(--accent-white);
  font-size: 0.8rem;
  margin-bottom: 32px;
}

.intro-tags span {
  background: var(--accent-blue);
  border-radius: 16px;
  display: inline-block;
  font-size: 0.8rem;
  color: var(--brand-blue);
  padding: 12px 16px;
}

.intro-left h1 {
  color: var(--brand-orange);
  margin: 24px 0 16px;
}

.intro-right h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.intro-right p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--white);
}

.intro-right form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.intro-right small {
  color: rgba(255, 255, 255, 0.4);
}

.form-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.reserve {
  background-color: transparent;
  color: var(--accent-orange);
  border: 1px solid var(--accent-orange);
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
}