/**
 * Animation for the text slide up reveal effect in the intro section
 */
@keyframes slide {
  0%,
  20% {
    top: 3ch;
  }
  30%,
  50% {
    top: 0ch;
  }
  60%,
  80% {
    top: -2.6ch;
  }
  100% {
    top: -5.5ch;
  }
}

/**
 * Animation for the overlay slide effect that reveals the main page content
 */
@keyframes slideOut {
  0%,
  25% {
    transform: translateY(100%);
  }
  25%,
  50% {
    transform: translateY(0);
  }
  75%,
  100% {
    transform: translateY(-100%);
  }
}

/**
 * Animation for the boucing down arrow in the hero section
 */
@keyframes bounceDown {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(2px);
  }
}