:root {
  --primary-font: 'DM Sans', sans-serif;
  --secondary-font: 'Plaster', serif;

  --max-width: 1200px;

  --brand-orange: #fd6a15;
  --brand-blue: #5d9eb7;
  --white: #fff;
  
  --accent-orange: rgb(253, 106, 21, 0.15);
  --accent-black: rgba(0, 0, 0, 0.7);
  --accent-blue: rgba(93, 158, 183, 0.1);
  --accent-white: rgba(255, 255, 255, 0.6);
}